<!-- header.component.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100">
    <a class="navbar-brand" routerLink="/homepage">Threads Of Bharat</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/sarees">Sarees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/jewelry">Jewelry</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/accessories">Accessories</a>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cart">
              <i class="fas fa-shopping-cart"></i> 
              <div style="font-size: 10px;" class="badge bg-danger">5</div>
            </a>
          </li>
          
      </ul>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="search products">
    </div>
    <span class="fas fa-search search-icon"></span>
    
  </nav>
  